.home-page {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page h1 {
  font-size: 2.2rem;
  margin: 20px 16px;
  font-weight: 700;
  color: #f31a1a;
}

.home-page h2 {
  font-size: 1.5rem;
  margin: 20px 16px;
  font-weight: 400;
  color: #5c5c5c;
}